mat-card {
  width: 80%;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
}

mat-form-field {
  width: 100%;
  margin-top: 0.5%;
}

textarea {
  width: 100%;
}

h1 {
  color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 5em; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
}
